<article>
	<div class="article-acccordion">
		#if($articleHeader.data != "")
			<h2 class="top">$articleHeader.data</h2>
		#end
		#if($img.data != "")
			<img src="$img.data" />
		#end
		#foreach($separator in $separators.getSiblings())
			<p class="ingress">$separator.ingress.data</p>
		#end
		#foreach($accordion in $accordions.getSiblings())
			<div class="accordion-wpr">
				<a href="javascript:void(0)" class="acccordion-link">
					<h3>$accordion.accordianHeader.data <span></span></h3>
				</a>
				<div class="acccordion-content">
					<p>$accordion.paragrah.data</p>
				</div>
			</div>
		#end
		#foreach($bottomContent in $bottomContents.getSiblings())
			#if($bottomContent.bottomheader.data != "")
				<h2 class="bottom">$bottomContent.bottomheader.data</h2>
			#end
			#if($bottomContent.pTag.data != "")
				<p class="bottom-content">$bottomContent.pTag.data</p>
			#end
		#end
	</div> 
</article>