<div class="media-container">
	#if($separator.media.data != "")
		<div class="media-wpr">
			#set ($choose = $separator.media.data)
			#set ($choose = $choose.indexOf('mp4'))
			#if ($choose != -1)				
				<video width="100%" controls>
					<source src="$separator.media.getData()" type="video/mp4">
					Your browser does not support the video tag.
				</video> 
			#else 
				<div>
					<img src="$separator.media.data">
				</div>					
			#end					
			#if($separator.mediaHeader.data != "")
				#if($separator.isImageHeaderWhite.data != "")
					#set ($color = "white")
				#else 
					#set ($color = "")
				#end						
				<div class="content-wpr $color">
					<h3>$separator.image-header.data</h3><br />
					<p>$separator.imageParagraf.data</p>
				</div>
			#end
		</div>
	#end

	#if($separator.content-header.data != "")
		<h2>$separator.content-header.data</h2>
	#end
	#if($separator.info-text.data != "")
		<p>$separator.info-text.data</p>
	#end
	#if($separator.button-text.data != "")
		<a href="$separator.link-url.data">
			$separator.button-text.data
		</a>
	#end	
</div>