#if (!$entries.isEmpty())
	<div class="news-feed">
		<div class="wpr">
			#foreach ($entry in $entries)
				<section>
					#set($renderer = $entry.getAssetRenderer() )
					#set($className = $renderer.getClassName() )
					#if( $className == "com.liferay.portlet.journal.model.JournalArticle" )
						#set( $journalArticle = $renderer.getArticle() )
						#set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
						#set( $rootElement = $document.getRootElement() )
						##set( $link = $renderer.getURLViewInContext($renderRequest, $renderResponse, '') )
						#set( $link = $assetPublisherHelper.getAssetViewURL($renderRequest, $renderResponse, $entry, true) )
						<a href="$link" class="link">
							<p>$dateTool.format("dd/MM/yyyy", $dateTool.toDate("EEE, dd MMM yyyy hh:mm:ss Z", $entry.getCreateDate()), $locale)</p>
							<h3 class="title">$entry.getTitle($locale)</h3>
							#set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='summaryHeader']") )
							#set( $summaryHeader = $xPathSelector.selectSingleNode($rootElement).getStringValue() )
							<p class="summary-header">$summaryHeader</p>
							#set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='summaryImage']") )
							#set( $summaryImage = $xPathSelector.selectSingleNode($rootElement).getStringValue() )
							<p class="summary-image"><img src="$summaryImage" ></p>
							#set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='summary']") )
							#set( $summary = $xPathSelector.selectSingleNode($rootElement).getStringValue() )
							<p class="summary">$summary</p>        
						</a>
						<div class="hide-text"><!----></div> 
					#end
				</section>
			#end
		</div>
	</div>
#end