<section class="regular slider">
	#foreach($wpr in $separator.getSiblings())

		<div>
			#if($wpr.headerHeader.data != "") 
				#if($wpr.isHeaderWhite.data != "")
					#set ($headerColor = "white")
				#else 
					#set ($headerColor = "");
				#end			
				#if($wpr.headerLink.data != "")
					<div class="content-wpr-top $headerColor">
						<a href="$wpr.headerLink.data">
							#if($wpr.headerHeader.data != "")
								<h2>$wpr.headerHeader.data</h2>
							#end
							#if($wpr.headerParagrah.data != "")
								<p>$wpr.headerParagrah.data</p>
							#end								
						</a>
					</div>
				#else
					<div class="content-wpr-top $headerColor">
						#if($wpr.headerHeader.data != "")
							<h2>$wpr.headerHeader.data</h2>
						#end
						#if($wpr.headerParagrah.data != "")
							<p>$wpr.headerParagrah.data</p>
						#end								
					</div>					
				#end
			#end
			#if($wpr.media.data != "")
				#set ($choose = $wpr.media.data)
				#set ($choose = $choose.indexOf('video'))
				#if ($choose != -1)				
					<video width="100%" controls>
						<source src="$wpr.media.data" type="video/mp4">
						Your browser does not support the video tag.
					</video> 
				#else 
					<div>
						<img src="$wpr.media.data">
					</div>					
				#end
			#end
			#if($wpr.footerHeader.data != "") 
				#if($wpr.isFooterWhite.data != "")
					#set ($footerColor = "white")
				#else 
					#set ($footerColor = "");
				#end			
				#if($wpr.footerLink.data != "")
					<div class="content-wpr-bottom $footerColor">
						<a href="$wpr.footerLink.data">
							#if($wpr.footerHeader.data != "")
								<h2>$wpr.footerHeader.data</h2>
							#end
							#if($wpr.footerParagrah.data != "")
								<p>$wpr.footerParagrah.data</p>
							#end								
						</a>
					</div>
				#else
					<div class="content-wpr-bottom $footerColor">
						#if($wpr.footerHeader.data != "")
							<h2>$wpr.footerHeader.data</h2>
						#end
						#if($wpr.footerParagrah.data != "")
							<p>$wpr.footerParagrah.data</p>
						#end								
					</div>					
				#end
			#end				
		</div>
	#end
</section>