#if($alternativeBackground.getData() == "true")
	#set ($background = "alternative-background")
#else 
	#set ($background = "")
#end						
<div class="media-container $background">
	#if($image.getData() != "")
		<div class="media-wpr img-wpr">
    		<img src="$image.getData()" />
		</div>
	#end
	#if($textOnImage.getData() != "")
		#if($textOnImageInWhite.getData() == "true")
			#set ($color = "white")
		#else 
			#set ($color = "")
		#end						
		<div class="content-wpr $color">
			<h2>$textOnImage.getData()</h2>
		</div>
	#end
	#if($header.getData() != "")
		<h2>
			$header.getData()
		</h2>
	#end
	#if($paragraph.getData() != "")
		<p>${paragraph.getData()}</p>
	#end		
	#if($button.getData() != "")
		<a href="$linkToPage.getFriendlyUrl()">
			$button.getData()
		</a>
	#end	
</div>