#if($alternativeBackground.getData() == "true")
	#set ($background = "alternative-background")
#else 
	#set ($background = "")
#end						
<div class="article-acccordion $background">
	#if($mainHeader.getData() != "")
		<h2 class="top">$mainHeader.getData()</h2>
	#end
	#if($image.getData() != "")
		<div class="image-wpr">
			<div class="img-wpr">
				<img src="$image.getData()" />
			</div>
			#if($textInWhite.getData() == "true")
				#set ($color = "white")
			#else 
				#set ($color = "")
			#end						
			<div class="over-image $color">
				#if($bollowImageSeparator.headerBellowImage.getData() != "")
					<h3>$headerBellowImage.getData()</h3>
				#end
				#if($bollowImageSeparator.paragraphBellowImage.getData() != "")
					<p>$paragraphBellowImage.getData()</p>
				#end
			</div>
		</div>
	#end
	#foreach($ingressSep in $ingressSeparator.getSiblings())
		#if($ingressSep.ingress.getData() != "")
			<p class="ingress">$ingressSep.ingress.getData()</p>
		#end
	#end
	#foreach($accordionSep in $accordionSeparator.getSiblings())
		<div class="accordion-wpr">
			<a href="javascript:void(0)" class="acccordion-link">
				<h3>$accordionSep.accordionHeader.getData() <span></span></h3>
			</a>
			<div class="acccordion-content">
        		#if($accordionSep.linkToPage.getData() != "")
        		    <a href="$accordionSep.linkToPage.getFriendlyUrl()">
        			    <p>$accordionSep.accordionParagraph.getData()</p>
    			    </a>
        		#else
        		    <p>$accordionSep.accordionParagraph.getData()</p>
        		#end
			</div>
		</div>
	#end
	#foreach($bottomContentSep in $bottomContentSeparator.getSiblings())
		#if($bottomContentSep.bottomHeader.getData() != "")
			<h2 class="bottom">$bottomContentSep.bottomHeader.getData()</h2>
		#end
		#if($bottomContentSep.bottomParagraph.getData() != "")
			<p class="bottom-content">$bottomContentSep.bottomParagraph.getData()</p>
		#end
	#end
</div>