#if($headerText.getData() != "")
    #if($alternativeBackgroundInHeader.getData() == "true")
        #set ($background = "alternative-background")
    #else 
        #set ($background = "")
    #end						
    <div class="contenido-texto-foto-flotante $background">
        <h2>$headerText.getData()</h2>
    </div>
#end
#foreach($paragraphSep in $paragraphSeparator.getSiblings())
    #if($paragraphSep.alternativeBackgroundInSection.getData() == "true")
        #set ($background = "alternative-background")
    #else 
        #set ($background = "")
    #end						
    <div class="contenido-texto-foto-flotante $background">
        <div class="$paragraphSep.imageAlignment.getData() paragraph-container">
            #if($paragraphSep.image.getData() != "")
                <img src="$paragraphSep.image.getData()" />
            #end
            <div class="inner">
                #if($paragraphSep.highlightedText.getData() != "")
                    <h2>$paragraphSep.highlightedText.getData()</h2>
                #end
                #if($paragraphSep.paragraph.getData() != "")
                    $htmlUtil.unescape($paragraphSep.paragraph.getData())
                #end
            </div>
        </div>
    </div>
#end