<div class="contenido-texto-foto-flotante">
    #if($headerText.getData() != "")
	    <h2>$headerText.getData()</h2>
	#end
    #foreach($paragraphSep in $paragraphSeparator.getSiblings())
        #if($paragraphSep.alternativeBackgroundInSection.getData() == "true")
        	#set ($background = "alternative-background")
        #else 
        	#set ($background = "")
        #end						
        <div class="$paragraphSep.imageAlignment.getData() paragraph-container $background">
            #if($paragraphSep.image.getData() != "")
        	    <img src="$paragraphSep.image.getData()" />
        	#end
            #if($paragraphSep.highlightedText.getData() != "")
        	    <h2>$paragraphSep.highlightedText.getData()</h2>
        	#end
            #if($paragraphSep.paragraph.getData() != "")
        	    $htmlUtil.unescape($paragraphSep.paragraph.getData())
        	#end
        </div>
    #end
</div>