#if($alternativeBackground.getData() == "true")
	#set ($background = "alternative-background")
#else 
	#set ($background = "")
#end
<div class="content-article $background">
	<div class="content-article-top">
		#foreach($to in $top.getSiblings())
			#if($to.topHeader.getData() != "")
				<h2>
					$to.topHeader.getData()
				</h2>
			#end
			#if($to.image.getData() != "")
				<div class="image-wpr">
					#if($to.textOnImageWhite.getData() == "true")
						#set ($color = "white")
					#else 
						#set ($color = "")
					#end
					<img src="$to.image.getData()" />
					<div class="inner $color">
						#if($to.headerOnImage.getData() != "")
							<h3>$to.headerOnImage.getData()</h3>
						#end
						#if($to.paragraphOnImage.getData() != "")
							<p>$to.paragraphOnImage.getData()</p>
						#end
					</div>
				</div>
			#end
			#if($to.topParagraph.getData() != "")
				<p>$to.topParagraph.getData()</p>
			#end
		#end
	</div>
	<div class="box">
		#if($bottom.bottomHeader.getData() != "")
			<h3>
				$bottom.bottomHeader.getData()
			</h3>
		#end
		#if($bottom.bottomParagraph.getData() != "")
			<p>$bottom.bottomParagraph.getData()</p>
		#end
	</div>
</div>