#if($alternativeBackground.getData() == "true")
	#set ($background = "alternative-background")
#else 
	#set ($background = "")
#end						
<div class="contact-us $background">
	#if($mainHeader.getData() != "")
		<h2>
			$mainHeader.getData()
		</h2>
	#end
	#if($headerImage.getData() != "")
		#if($textOnImageWhite.getData() == "true")
			#set ($color = "white")
		#else 
			#set ($color = "")
		#end
		<img src="$headerImage.getData()" />
		#if($headerOnImage.getData() != "")
		    <h3 class="$color">$headerOnImage.getData()</h3>
	    #end
	    #if($paragraphOnImage.getData() != "")
		    <p class="$color">$paragraphOnImage.getData()</p>
		#end
	#end
	#if($secondHeader.getData() != "")
		<h3>
			$secondHeader.getData()
		</h3>
	#end
	#foreach($person in $personDetails.getSiblings())
		<div class="accordion-wpr">
			<div class="wpr">
				<a href="javascript:void(0)" class="acccordion-link">
					<div class="left">
						<img src="$person.picture.getData()" />
					</div>
					<div class="right">
						<h3>$person.wholeName.getData()<span></span></h3>
						<p>$person.title.getData()</p>
					</div>
					<span class="icon"></span>
				</a>
			</div>
			<div class="acccordion-content">
				<p>
					$person.resumee.getData()
				</p>
			</div>
		</div>
	#end	
</div>