#if($alternativeBackground.getData() == "true")
	#set ($background = "alternative-background")
#else 
	#set ($background = "")
#end						
<div class="contenido-columnas-imagen-texto $background">
	<div class="columnas-imagen-texto">
    	#foreach($columnSep in $columnSeparator.getSiblings())
    	    #if($columnSep.header.getData() != "")
    	        <h2>$columnSep.header.getData()</h2>
    	    #end
    	    #if($columnSep.image.getData() != "")
                <img src="$columnSep.image.getData()" />
            #end
    	    #if($columnSep.contentLink.getData() != "")
    			<a href="$columnSep.contentLink.getData()">
    			   <p>$columnSep.paragraph.getData()</p>
                </a>
            #else
                <p>$columnSep.paragraph.getData()</p>
            #end
    	#end
	</div>
</div>