##
## Velocity Transform Template
##
## All dynamic elements in a structure can be accessed as a Velocity variable.
##
## The given structure:
##
## <root>
##   <dynamic-element name="main-text" type="text_area">
##     <dynamic-element name="sub-image" type="image"></dynamic-element>
##     <dynamic-element name="sub-text" type="text"></dynamic-element>
##   </dynamic-element>
##   <dynamic-element name="more-text" type="text_area"></dynamic-element>
##   <dynamic-element name="ms-list" type="multi-list">
##     <dynamic-element name="chocolate" type="Chocolate"></dynamic-element>
##     <dynamic-element name="strawberry" type="Strawberry"></dynamic-element>
##     <dynamic-element name="vanilla" type="Vanilla"></dynamic-element>
##   </dynamic-element>
## </root>
##
## The dynamic element "main-text" can be accessed in the following ways:
##
## $main-text.getName()     - The name "main-text"
## $main-text.getData()     - The data in the article for main-text
## $main-text.getType()     - The type "text-area"
## $main-text.getChildren() - A collection with two nodes (sub-image and
##                            sub-text) that can be used in the #foreach clause
## $main-text.getSiblings() - A collection of elements with the name
##                            "main-text". This will only return more than one
##                            element if this element is repeatable.
##
## One special accessor exists for elements of type "multi-list":
##
## $ms-list.getOptions() - A collection with up to three string entries
##                         (chocolate, strawberry, or vanilla) that can be used
##                         in the #foreach clause
##
## Another special accessor exists for elements of type "link_to_layout":
##
## $linkToPage.getUrl() - The URL that links to the selected page in the current
##                        community, organization, etc.
##
## The variable $journalTemplatesPath can be used to include another Journal
## template, e.g. #parse ("$journalTemplatesPath/LAYOUT-PARENT")
##
## The variable $viewMode specifies which mode the article is being viewed in.
## For example, if $viewMode evaluates to "print", that means the user clicked
## the print icon to view this article.
##
###Variable de Lenguaje
#set ($language_id = $user.getLanguageId())
###Fin Variable de Lenguaje

#set ($dlService = $serviceLocator.findService("com.liferay.portlet.documentlibrary.service.DLFileEntryLocalService"))

#set ( $current_url = $request.get("attributes").CURRENT_COMPLETE_URL )
#set ( $anchor = $current_url.substring($current_url.indexOf('/-/asset_publisher/')).split('/').get(3) )

<div class="anchor" id="$anchor"><!-- --></div>

#set ( $backUrl = $current_url.substring(0,$current_url.indexOf('/-/asset_publisher/')) + "#" + $anchor)

<span class="header-back-to"> <a class="icon-circle-arrow-left previous-level" href="$backUrl" title="Back"> <span class="helper-hidden-accessible"> Back </span> </a> </span>

<div class="docList">
	#if ($fecha.data != '')
		<div class="enc">
			<span class="fecha">$fecha.data</span>
		</div>
	#end
	#if ($titulo.data != '')
		<h2>
			<span class="tit">$titulo.data</span>
		</h2>
	#end
	#if ($imagen_listado.data != '' || $entradilla.data != '')
		<div class="wysiwyg">
		#if ($entradilla.data != '')
				<p>$entradilla.data</p>
			#end
                        #if ($imagen_listado.data != '')
				#foreach ($datoImage in $imagen_listado.getChildren())
					#if ($datoImage.getName() == 'alt_imagen_listado')
						#set ($alt_listado = $datoImage.data)
					#end
					#if ($alt_listado == '')
						#set ($alt_listado = $titulo.data)
					#end
				#end
				<img src="$imagen_listado.data" alt="$alt_listado" width="450px" />
			#end
		</div>
	#end
	#if ($contenido.data != '')
		<div class="wysiwyg">
			$contenido.data
		</div>
	#end
	#if($documentos.getData() != "" )
		
			#foreach ($documento in $documentos.getSiblings())
				<div class="noticia-documento">
					## Get the group ID of the document library you are referring to
					#set ($gid = $getterUtil.getLong($documento.getData().split("/").get(2)))
					
					## Get the folder ID of the DL
					#set ($fid = $getterUtil.getLong($documento.getData().split("/").get(3)))
					
					## Get the file uid
					#set ($fileUid = $documento.getData().split("/").get(5))
					#set ($fileUid = $fileUid.split("\?").get(0))

					## Retrieve the FileEntry from the DL
					#set ($fileEntry = $dlService.getFileEntryByUuidAndGroupId($fileUid, $gid))
					#set ($fileSize =  $fileEntry.size/1024)

					#if($fileSep.file.getData().indexOf("?") >= 0)
						#set ($downloadUrl = $documento.getData() + "&download=true")
					#else
						#set ($downloadUrl = $documento.getData() + "?download=true")
					#end

					<div class="archivo-relacionado">
						<a href="$downloadUrl" download >$documento.texto_documento.getData() - $fileEntry.extension ($fileSize kB)</a>
					</div>
				</div>
			#end
		
	#end
	#if($imagen_galeria.getData() != "" )
		#foreach ($imgGaleria in $imagen_galeria.getSiblings())
			<div class="noticia-imagen">
				#if($imgGaleria.alt_imagen.getData() != "")
					<img src="$imgGaleria.getData()" alt="$imgGaleria.alt_imagen.getData()"/>
				#else
					<img src="$imgGaleria.getData()" />
				#end
				#if($imgGaleria.tituloRev1.getData() != "")
					<h3>$imgGaleria.tituloRev1.getData()</h3>
				#end
				#if($imgGaleria.descripcion.getData() != "")
					<p>$imgGaleria.descripcion.getData()</p>
				#end
			</div>
		#end
		
	#end
	#if($video_galeria.getData() != "" )
		#foreach ($videoGaleria in $video_galeria.getSiblings())
			<div class="noticia-video">
				<video controls="">
					<source src="$videoGaleria.getData()" type="video/mp4">
					Your browser does not support the video tag.
				</video> 
				#if($videoGaleria.tituloRev2.getData() != "")
					<h3>$videoGaleria.tituloRev2.getData()</h3>
				#end
				#if($videoGaleria.descripcionRev1.getData() != "")
					<p>$videoGaleria.descripcionRev1.getData()</p>
				#end


				## Get the group ID of the document library you are referring to
				#set ($gid = $getterUtil.getLong($videoGaleria.getData().split("/").get(2)))
				
				## Get the file uid
				#set ($fileUid = $videoGaleria.getData().split("/").get(5))
				#set ($fileUid = $fileUid.split("\?").get(0))

				## Retrieve the FileEntry from the DL
				#set ($fileEntry = $dlService.getFileEntryByUuidAndGroupId($fileUid, $gid))
				#set ($fileSize =  $fileEntry.size/1024)

				<div class="archivo-relacionado">
					<a href="$videoGaleria.getData()" target="_blank">$videoGaleria.tituloRev2.getData() - $fileEntry.extension ($fileSize kB)</a>
				</div>
			</div>
		#end
		
	#end
	#if($videoweb_galeria.getData() != "" )
		
		#foreach ($videoWebGaleria in $videoweb_galeria.getSiblings())
			<div class="noticia-video-web">
				<iframe width="854" height="480" src="$videoWebGaleria.getData()" frameborder="0" allowfullscreen></iframe>
				#if($videoWebGaleria.tituloRev3.getData() != "")
					<h3>$videoWebGaleria.tituloRev3.getData()</h3>
				#end
				#if($videoWebGaleria.descripcionRev2.getData() != "")
					<p>$videoWebGaleria.descripcionRev2.getData()</p>
				#end
			</div>
		#end
		
	#end
	#if($audio_galeria.getData() != "" )
		#foreach ($audioGaleria in $audio_galeria.getSiblings())
			<div class="noticia-audio">
				<audio controls>
					<source src="$audioGaleria.getData()" type="audio/mpeg">
					Your browser does not support the audio tag.
				</audio> 
				#if($audioGaleria.tituloRev4.getData() != "")
					<h3>$audioGaleria.tituloRev4.getData()</h3>
				#end
				#if($audioGaleria.descripcionRev3.getData() != "")
					<p>$audioGaleria.descripcionRev3.getData()</p>
				#end
			</div>
		#end
		
	#end
</div>