<div class="centering-image-video-container">
	<div class="img-wpr">
		<div class="img-wpr-inter">
			#if($youtubeVideo.getData() == "true")
				#set ($source = "iframe")
			#else 
				#set ($source = "video")
			#end		
			#if($imageSeparator.image.getData() != "")
				<img src="$imageSeparator.image.getData()" />
				<a class="play-icon $source" href="javascript:void(0)"><span></span></a>
			#end
			#if($header.getData() != "")
				#if($textInWhite.getData() == "true")
					#set ($color = "white")
				#else 
					#set ($color = "")
				#end						
				<div class="content-wrapper $color">
					<h2>$header.getData()</h2>
					<p>$information.getData()</p>
					#if($button.getData() != "" && $showButton.getData() == "true")
						<a href="$linkToPage.getFriendlyUrl()">$button.getData()</a>
					#end	
				</div>
			#end
        	#if($videoSeparator.mp4Video.getData() != "")
        		<video controls="" id="yui_patched_v3_11_0_1_1485263537202_788" style="display:none;">
        			<source src="$videoSeparator.mp4Video.getData()" type="video/mp4">
        			Your browser does not support the video tag.
        		</video> 
            #elseif($videoSeparator.streamingVideo.getData() != "")
				<video controls="" style="display:none;">
        			<source src="$videoSeparator.streamingVideo.getData()" type="video/mp4">
        			Your browser does not support the video tag.
        		</video> 
        	#end
			#if($youtubeVideo.getData() != "")
				<div class="iframe-wpr" style="display:none;" url="$youtubeVideo.getData()&autoplay=1" iframeWidth="3000">
			#end
	    </div>
    </div>
</div>