<div class="centering-image-video-container">
	<div class="img-wpr">
		<div class="img-wpr-inter">
			#if($imageSeparator.image.getData() != "")
				<img src="$imageSeparator.image.getData()" />
				<a class="play-icon" href="javascript:void(0)"><span></span></a>
			#end
			#if($header.getData() != "")
				#if($textInWhite.getData() != "")
					#set ($color = "white")
				#else 
					#set ($color = "")
				#end						
				<div class="content-wrapper $color">
					<h2>$header.getData()</h2>
					<p>$information.getData()</p>
					#if($button.getData() != "")
						<a href="$linkToPage.getFriendlyUrl()">$button.getData()</a>
					#end	
				</div>
			#end
        	#if($videoSeparator.mp4Video.getData() != "")
        		<video controls="" id="yui_patched_v3_11_0_1_1485263537202_788" style="display:none;">
        			<source src="$videoSeparator.mp4Video.getData()" type="video/mp4">
        			Your browser does not support the video tag.
        		</video> 
            #elseif($videoSeparator.youtubeVideo.getData() != "")
        		$htmlUtil.unescape($videoSeparator.youtubeVideo.getData())
            #elseif($videoSeparator.streamingVideo.getData() != "")
        		<div>En desarrollo</div>
        	#end
	    </div>
    </div>
</div>