#if($isTextWhite.getData())
	#set ($color = "white")
#else 
	#set ($color = "")
#end	
<div class="image-teaser-with-button-on-image $color">
	#if($image.getData())
		<img src="$image.getData()" />
	#end	
	#if($header.getData())
		<h2>
			$header.getData()
		</h2>
	#end
	<div class="wpr">
		#if($paragraph.getData() != "")
			<p>$paragraph.getData()</p>
		#end		
		#if($buttonText.getData() != "")
			<a href="$linkToPage.getFriendlyUrl()">
				$buttonText.getData()
			</a>
		#end	
	</div>
</div>