<div class="four-image-teaser">
	<div class="bottom">
		#if($header.getData() != "")
			<h2>
				$header.getData()
			</h2>
		#end
		#if($paragraph.getData() != "")
			<p>
				$paragraph.getData()
			</p>
		#end
		#if($buttonText.getData() != "")
			<div class="buttonLink">
				<a href="$buttonLink.getFriendlyUrl()">
					$buttonText.getData()
				</a>
			</div>
		#end		
	</div>
</div>