<div class="image-teaser">
	<div class="left">
		#if($header.getData() != "")
			<h2>
				$header.getData()
			</h2>
		#end
		#if($paragraph.getData() != "")
			$paragraph.getData()
		#end		
		#if($buttonText.getData() != "")
		<br />
			<a href="$buttonLink.getData()">
				$buttonText.getData()
			</a>
		#end	
	</div>
	<div class="right">
		#if($image.getData() != "")
			<img src="$image.getData()" />
		#end
		#if($imageHeader.getData() != "")		
			#if($textInWhite.getData() == "true")
				#set ($color = "white")
			#else 
				#set ($color = "")
			#end
			#if($textOnImageAlignment.getData())
				#set ($textOIAlignment = $textOnImageAlignment.getData())
			#else 
				#set ($textOIAlignment = "")
			#end						
			<div class="content-wrapper $color $textOIAlignment">
				<h3>
					$imageHeader.getData()
				</h3>
			</div>
		#end
	</div>
</div>