<div class="image-teaser">
	#if($header.getData())
		<h2>
			$header.getData()
		</h2>
	#end
	<div class="wpr">
		#if($paragraph.getData())
			<p>${paragraph.getData()}</p>
		#end		
		#if($buttonText.getData())
			<a href="$buttonLink.getFriendlyUrl()">
				$buttonText.getData()
			</a>
		#end	
	</div>
</div>