<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	##js("$javascript_folder/jquery-3.1.1.min.js")

	
	$theme.include($top_head_include)
	
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a> 

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end
<div class="container-fluid" id="wrapper">
	<header class="main-header">
		#set( $counter = 0 )
		#foreach ($nav_item in $nav_items)
			#if ($counter == 0)
				#set( $homeUrl = $nav_item.getURL() )
			#end
			#set( $counter = $counter + 1 )
		#end	
		<nav class="main-nav">
			<a class="logo" href="$homeUrl">
				<h1>
					<img src="$images_folder/custom/logo.png" />
				</h1>
			</a>
			<div class="nav-desktop">
				#parse ("$full_templates_path/navigation.vm")
			</div>
			<a class="nav-link-mobile" href="javascript:void(0)">
				<span></span>
			</a>
			<ul id="menu-main-right" class="nav-menu">
				#if ($theme.getSetting("twitter") != "")
					<li class="twitter"><a target="_blank" href="$theme.getSetting("twitter")"><i class="icon-twitter "></i><span class="fa-hidden">Twitter</span></a></li>
				#end
				#if ($theme.getSetting("facebook") != "")
					<li class="facebook"><a target="_blank" href="$theme.getSetting("facebook")"><i class="icon-facebook "></i><span class="fa-hidden">Facebook</span></a></li>
				#end
				#if ($theme.getSetting("youtube") != "")
					<li class="youtube"><a target="_blank" href="$theme.getSetting("youtube")"><i class="icon-youtube "></i><span class="fa-hidden">YouTube</span></a></li>
				#end
			</ul>	
			<a id="open-search" href="javascript:void(0);">
				<i class="icon-search"></i>
			</a>
			<div class="navigation-content-mobile">
				#parse ("$full_templates_path/mobile-navigation.vm")
			</div>
		</nav>
		##set($currentSiteName = "web"+$layout.getGroup().getFriendlyURL()) 
		<div id="site-search">
			<form onsubmit="ctem_null_null_3_search(); return false;" name="ctem_null_null_3_fm" method="get" action="$currentSiteName/search">
				<input name="p_p_id" value="3" type="hidden"/>
				<input name="p_p_lifecycle" value="0" type="hidden"/>
				<input name="p_p_state" value="maximized" type="hidden"/>
				<input name="p_p_mode" value="view" type="hidden"/>
				<input name="_3_struts_action" value="/search/search" type="hidden"/>
				<input name="_3_redirect" value="/$currentSiteName/search" type="hidden"/> 
				<input name="_3_groupId" value="$themeDisplay.getLayout().getGroup().getGroupId()" type="hidden"/> 
				<input name="_3_keywords" size="30" class="search-box" value="" type="text"/> 
				<input type="submit" class="btn" value='Buscar'/> 
			</form>
			<a id="close-search" href="javascript:void(0)">
				<i class="icon-remove"></i>
			</a>
		</div>		
	</header>


	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end		
	</div>
	<footer id="footer" role="contentinfo">	
		<div class="channels">
			<ul class="nav-menu">
				#if ($theme.getSetting("twitter") != "")
					<li class="twitter"><a target="_blank" href="$theme.getSetting("twitter")"><i class="icon-twitter "></i><span class="fa-hidden">Twitter</span></a></li>
				#end
				#if ($theme.getSetting("facebook") != "")
					<li class="facebook"><a target="_blank" href="$theme.getSetting("facebook")"><i class="icon-facebook "></i><span class="fa-hidden">Facebook</span></a></li>
				#end
				#if ($theme.getSetting("youtube") != "")
					<li class="youtube"><a target="_blank" href="$theme.getSetting("youtube")"><i class="icon-youtube "></i><span class="fa-hidden">YouTube</span></a></li>
				#end
			</ul>
		</div>
		<p class="copy-right">© 2017 Fundación Línea Directa. </p>
		#set($currentSiteUrl = $themeDisplay.getPortalURL()+"/web"+$layout.getGroup().getFriendlyURL()) 
		<div class="portal-links">
			<ul>
				<li><a href="$currentSiteUrl$theme.getSetting("Link Aviso Legal")">Aviso Legal</a></li>		
				<li><a href="$currentSiteUrl$theme.getSetting("Link Política de cookies")">Política de cookies</a></li>
				<li><a href="$currentSiteUrl$theme.getSetting("Link Política de Privacidad")">Política de Privacidad</a></li>
				<li><a href="$currentSiteUrl$theme.getSetting("Link Mapa web")">Mapa web</a></li>
			</ul>
		</div>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
#js("$javascript_folder/slick.min.js")
#js("$javascript_folder/main-content.js")
</body>

</html>